*{
    background-color: linear-gradient(to right, rgb(255, 0, 0), blue);
    font-family: "sofia",sans-serif;
    font-weight: bold;
}
nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.upper-bar {
    flex: 1;
    text-align: right;
}
.upper-bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.upper-bar ul li a{
    text-decoration: none;
    color: black;
    font-family: "sofia",sans-serif;
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(to right, rgb(14, 152, 250), rgb(57, 255, 252) );
    border-radius: 4px;
    padding: 10px 20px;
}

.data {
    display: none;
}
.rectangle{
    position: absolute;
    top: 50px ;
    left: 450px;
    width: 400px;
    height: 600px;
    border: solid 4px grey;
    background-image: linear-gradient(to right, rgb(47, 0, 255), rgb(57, 255, 252) );

}
.rectangle h2{
    position: relative;
    left: 150px;
    font-family: "sofia",sans-serif;
    font-weight: bold;
}

.rectangle h3{
    position: relative;
    left: 90px;
    top: 100px;
    font-family: "sofia",sans-serif;
    font-weight: bold;
}
.h{
    height: 30%;
    position: relative;
    top: 100px;
}
.c{
    height: 35%;
    position: relative;
    top: 100px;
}

.j{
    height: 30%;
    position: relative;
    top: 100px;
    left: 100px;
}

.g-signin2 {
    position: absolute;
    border-radius: 40px;
    top: 10%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background-color: aquamarine;
}
.languages {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
#disk {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: gray;
}

.languages img{
    width: 70px;
}
.languages{
    position: absolute;
}


.contact{
    height: 300px;
    width: 100px;
    position: absolute;
    top: 350px;
    border: 4px solid black;
    background-image: linear-gradient(to right, rgb(14, 152, 250), rgb(57, 255, 252) );
}
.contact h2{
    font-size:x-large;
    font-weight: bold;
}
.fb {
    height: 20%;
    position: absolute;
    bottom: 200px;
    left: 10px;
}

.whatsapp-logo {
    height: 24%;
    position: absolute;
    bottom: 100px;
}

.instagram-logo {
    height: 20%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.incase h2{
    position: absolute;
    top: 700px;
    font-family: "sofia",sans-serif;
    font-weight: bold;
    
}
.one{
    height: 40%;
    position: absolute;
    top: 800px;
}
.two{
    height: 40%;
    position: absolute;
    top: 800px;
    left: 300px;
}
.three{
    height: 40%;
    position: absolute;
    top: 800px;
    left: 600px;
}
.four{
    height: 40%;
    position: absolute;
    top: 800px;
    left: 900px;
}
.five{
    height: 40%;
    position: absolute;
    top: 1200px;
}
.six{
    height: 40%;
    position: absolute;
    top: 1200px;
    left: 300px;
}
.seven{
    height: 40%;
    position: absolute;
    top: 1200px;
    left: 600px;
}
.eight{
    height: 40%;
    position: absolute;
    top: 1200px;
    left: 900px;
}
.nine{
    height: 40%;
    position: absolute;
    top: 1600px;
}